<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
	<script type="text/javascript" src="/lib/jquery-ui/jquery-ui.min.js"></script>
	<link rel="Stylesheet" href="/lib/jquery-ui/themes/cupertino/jquery-ui.min.css">
	<link rel="Stylesheet" href="/css/style.min.css">
</head>