body
{
	background-color:#fcfcfc;
}

table
{
	background-color:#ffffff;
}

h4
{
	color: #337ab7;
	font-weight:normal;
	font-size:medium;
}

.form-control
{
	f--ont-size:13px;
	-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] 
{
	background-color: #f2f6fb;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover 
{
	background-color: #f2f6fb;
}

.table-bordered>thead>tr>th 
{
    border-bottom-width: 1px;
}

.table-bordered>tbody>tr.due-true>td
{
    background-color:#FFF0F0;
}

.row
{
	margin-top:14px;
}

.pagebreak { page-break-before: always; }

label
{
	font-weight:normal;
}

.tab-pane
{
	padding-top:20px;
}

input[type="checkbox"].form-control
{
	border:0px;
	height:auto;
	width:auto;
}

.searchpopup
{
	z-index: 1000000;
	position:absolute; 
	top:50%; 
	left:50%; 
	height:50px; 
	width:150px; 
	margin-left:-75px; 
	margin-top:-100px; 
	padding:5px; 
	text-align:center; 
	font-weight:bold; 
	padding-top:8px; 
	b--ackground-color:White; 
	b--order: 1px solid gainsboro;
}

.searchpopup img
{
	h--eight:30px;
	w--idth:30px;
}

